* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT */
.dashboard {
    display: flex;
}

/* ADMIN PROFILE */
.admin-profile {
    text-align: center;
    margin-bottom: 30px;
}

.admin-profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    margin-bottom: 10px;
}

.admin-profile h2 {
    font-size: 20px;
    margin-top: 5px;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: linear-gradient(rgba(13,71,161,0.8), rgba(198,40,40,0.8));;
    /*background: #0b0b8f;*/
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;

    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.1);
    padding-left: 5px;
}

.logout {
    color: #8f0000;
}

/* SIDEBAR CLOCK */
.sidebar-clock {
    margin-top: auto;
    padding-top: 25px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
}

#time {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
}

#date {
    font-size: 16px;
    margin-top: 6px;
    color: rgba(255,255,255,0.85);
    letter-spacing: 2px;
}

@media (max-width: 600px) {
    #time {
        font-size: 28px;
    }
}

/* MAIN */
.main-content {
    position: relative;
    margin-left: 260px;
    width: calc(100vw - 260px);
    height: 100vh;
    overflow-y: auto;
    padding: 30px;
    background: #f5f5f5;
}

.main-content h1 {
    margin-bottom: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card span {
    display: block;
    font-size: 28px;
    margin-top: 10px;
    color: #0b0b8f;
}

/* SECTION */
.section {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.section h2 {
    margin-bottom: 15px;
}

.section button {
    background: #0b0b8f;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #8b8b8b;
    padding: 10px;
    text-align: center;
}

table th {
    background: #f0f0f0;
}

/*MANAGE REQUIRMENTS*/
#manageRequirementsSection label {
    display: block;
    margin-top: 10px;
}

#manageRequirementsSection input,
#manageRequirementsSection button {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
}

#manageRequirementsSection button {
    background: #0b0b8f;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.action-btn {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* UPLOADED RESUMES*/
.content-section {
    width: 100%;
    display: none;
}

.content-section table {
    width: 100%;
    background: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background: #f0f0f0;
}

/*Add Delete Button*/
.delete-btn {
    background: #c0392b;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-btn:hover {
    background: #d41a01;
}

/* Uploaded Resume Selection*/
#uploadedResumeSection button {
    background: #b30000;
    color: white;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

#uploadedResumeSection button:hover {
    background: #8f0000;
}

/*Change Password*/
#changePasswordSection {
    background: #fff;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#changePasswordSection h2 {
    margin-bottom: 20px;
}

#changePasswordSection label {
    display: block;
    margin-bottom: 6px;
}

#changePasswordSection input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

#changePasswordSection button {
    background: #0b0b8f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
